.input-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}


.custom-file-input{
  width: 8%;
}
  
.import-span{
  border: 2px solid black;
  padding: 3px;
}

.btn-export{
  border: 2px solid black;
  height: 35px;
  
}

.table-holder{
  width: 70%;
}

.btn-holder{
  display: flex;
  justify-content: flex-end;
}

#BtnBrowseHidden{
  display: none;
}
